<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{336,234}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{1,1},{336,234}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-18}</string>
			<key>spriteSize</key>
			<string>{264,196}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{645,1},{264,196}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-40}</string>
			<key>spriteSize</key>
			<string>{196,152}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{843,1},{196,152}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-42}</string>
			<key>spriteSize</key>
			<string>{190,148}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{1,339},{190,148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-15}</string>
			<key>spriteSize</key>
			<string>{272,202}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{441,1},{272,202}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-15}</string>
			<key>spriteSize</key>
			<string>{274,202}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{237,1},{274,202}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,-12}</string>
			<key>spriteSize</key>
			<string>{268,208}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{237,277},{268,208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,-12}</string>
			<key>spriteSize</key>
			<string>{268,208}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{507,275},{268,208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>08</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-24}</string>
			<key>spriteSize</key>
			<string>{230,184}</string>
			<key>spriteSourceSize</key>
			<string>{400,240}</string>
			<key>textureRect</key>
			<string>{{777,267},{230,184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action10.pvr.ccz</string>
		<key>size</key>
		<string>{1008,488}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ec829c8a1729f7c1e6459493cf234f45:058e25b9fab2f4181fd204387bf9dddd:fd6dfe3ee94267230ed6425290acf6b5$</string>
		<key>textureFileName</key>
		<string>col_action10.pvr.ccz</string>
	</dict>
</dict>
</plist>
