<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-67,-18}</string>
			<key>spriteSize</key>
			<string>{66,84}</string>
			<key>spriteSourceSize</key>
			<string>{200,120}</string>
			<key>textureRect</key>
			<string>{{183,197},{66,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-13,-21}</string>
			<key>spriteSize</key>
			<string>{170,72}</string>
			<key>spriteSourceSize</key>
			<string>{200,120}</string>
			<key>textureRect</key>
			<string>{{171,283},{170,72}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{46,9}</string>
			<key>spriteSize</key>
			<string>{90,102}</string>
			<key>spriteSourceSize</key>
			<string>{200,120}</string>
			<key>textureRect</key>
			<string>{{79,355},{90,102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,22}</string>
			<key>spriteSize</key>
			<string>{112,76}</string>
			<key>spriteSourceSize</key>
			<string>{200,120}</string>
			<key>textureRect</key>
			<string>{{1,355},{112,76}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-14,25}</string>
			<key>spriteSize</key>
			<string>{76,70}</string>
			<key>spriteSourceSize</key>
			<string>{200,120}</string>
			<key>textureRect</key>
			<string>{{183,119},{76,70}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>05</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,0}</string>
			<key>spriteSize</key>
			<string>{190,116}</string>
			<key>spriteSourceSize</key>
			<string>{200,120}</string>
			<key>textureRect</key>
			<string>{{1,1},{190,116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,0}</string>
			<key>spriteSize</key>
			<string>{180,120}</string>
			<key>spriteSourceSize</key>
			<string>{200,120}</string>
			<key>textureRect</key>
			<string>{{1,119},{180,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-4}</string>
			<key>spriteSize</key>
			<string>{164,112}</string>
			<key>spriteSourceSize</key>
			<string>{200,120}</string>
			<key>textureRect</key>
			<string>{{1,241},{164,112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<true/>
		<key>realTextureFileName</key>
		<string>col_action20.pvr.ccz</string>
		<key>size</key>
		<string>{254,468}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e1a33ee3ad9e6c68dca6e2179ce0a41b:1f1d8ccd1adb87b00269b8e085cb7c90:98ec4b5f3da3b367b0df440471cccb39$</string>
		<key>textureFileName</key>
		<string>col_action20.pvr.ccz</string>
	</dict>
</dict>
</plist>
